<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PythonAdvMera</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">PythonAdvMera</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="/add-plant">Add Plant</a>
                <a class="nav-link" href="/all-info">ALL-INFO</a>
              </div>
            </div>
          </div>
        </nav>
    <div class ="container">
        <h3 class="text-center">Plants</h3>
        <div class ="plants-container">
            {% for plant in plants %}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ plant["name"] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ plant["location"] }}</h6>
                  </div>
                </div>
            {% endfor %}
        </div>
    <div>

    <div class ="container">
        <h2 class="text-center">ALL Employees</h2>
        <div class ="plants-container">
            {% for employee in employees %}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ employee["name"] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ employee["type_of_work"], employee["object_id"] }}</h6>
{#                  <h6 class="card-subtitle mb-2 text-muted">{{ employee["type_of_work"] }}</h6>#}
                  </div>
                </div>
            {% endfor %}
        </div>
    <div>

    <div class ="container">
        <h2 class="text-center">ALL Salons</h2>
        <div class ="plants-container">
            {% for salon in salons %}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ salon["name"] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ salon["address"] }}</h6>
                     <h6 class="card-subtitle mb-2 text-muted">{{ "Size", salon["size"] }}</h6>
                  </div>
                </div>
            {% endfor %}
        </div>
    <div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>